/* =======================================================
    MOBILE STYLES
   ======================================================= */
body {
   font-family: "Red Hat Display", sans-serif;
   background-color: #d6e1ff;
}

main {
   border-radius: 30px;
   outline: 3px solid purple;
   background-color: white;
}

.hero-wrapper img {
   border-radius: 20px 20px 0px 0px;
}

.content-wrapper {
   padding: 1.5625rem;
   text-align: center;
}

.order-summary {
   padding: 0 1.5625rem;
}

h1 {
   line-height: 135%;
   font-size: 1.75rem;
   font-weight: 800;
}

.order-summary p {
   font-size: 0.9375rem;
   line-height: 165%;
   font-weight: 500;
   color: #717fa6;
   padding-bottom: 0.9375rem;
}

.plan-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr;
   padding: 15px;
   gap: 5px;
   background-color: #f7f9ff;
   border-radius: 20px;
}

.plan-container img {
   justify-self: center;
}

.plan-title {
   color: black;
   margin: 0;
   font-size: 15px;
   line-height: 165%;
   font-weight: 900;
}

.plan-cost {
   color: #717fa6;
   grid-column: 2;
   margin: 0;
   font-weight: 500;
}

.change {
   color: #1f2e55;
   grid-column: 3;
   grid-row: 1;
   text-decoration: underline;
   cursor: pointer;
   font-size: 15px;
   line-height: 165%;
   font-weight: 900;
}

.payment-proceed {
   background-color: #382ae1;
   padding: 15px;
   border-radius: 15px;
   color: white;
   font-size: 15px;
   line-height: 165%;
   font-weight: 900;
   box-shadow: 10px 10px 10px lightgrey;
   margin-bottom: 15px;
   cursor: pointer;
}

.payment-cancel {
   color: #717fa6;
   font-size: 15px;
   line-height: 165%;
   font-weight: 900;
}

/* =======================================================
    TABLET STYLES
   ======================================================= */
@media (min-width: 500px) {

   .hero-image {
      display: grid;
   }

   .hero-wrapper img {
      justify-self: center;
      object-fit: fill;
      width: 100%;
   }
}

/* =======================================================
   DESKTOP STYLES 
   ========================================================*/
@media (min-width: 1024px) {}